SECRET_KEY= #django secret key
POSGRES_DB= #obvious
POSTGRES_USER= #obvious
POSTGRES_PASSWORD= #obvious
POSTGRES_HOST= #docker-compose.yaml db service
POSTGRES_PORT= #obvious
HOST=localhost #for local development
NAME= #for local development
SERVICE_NAME= #your service name

EMAIL_HOST= #smtp host
EMAIL_PORT= #smtp port
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER= #host email
EMAIL_HOST_PASSWORD= #host email password
DEFAULT_FROM_EMAIL=EMAIL_HOST_USER

BROKER_URL=redis://redis:6379/0 #docker-compose.yaml redis service
RESULT_BACKEND=redis://redis:6379/0 #docker-compose.yaml redis service

TG_BOT_TOKEN= #your telegram bot token from BotFather for notifications

SERVER_IP= #server IP
