<header data-bs-theme="dark">
    <div class="text-bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>Быстрые ссылки</h4>
                    <a class="nav-link" href="{% url 'mainapp:my-requests-list' %}">Мои заявки</a>

                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="{% url 'mainapp:home' %}" class="navbar-brand d-flex align-items-center">
                <img src="/static/imgs/sparepart-icon.png" width="50px" alt="logo">
                <h2 class="fw-light">SparePartSolution</h2>
            </a>

            <a class="btn" href="{% url 'mainapp:requests-list' %}">
                <h4 class="fw-light">Заявки</h4>
            </a>
            <a class="btn position-relative" href="{% url 'mainapp:chats-list' %}">
                <h4 class="fw-light">Чаты</h4>
            </a>

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!--        блок слева. Если пользователь в логине-аватар, если нет, то вход и регистрация-->
        {% if user.is_authenticated %}
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle mx-5"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ user.image.url }}"
                     alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{ user.name }}</strong>

            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
                <li>
                    <form action="{% url 'users:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="dropdown-item" type="submit">Выйти</button>
                    </form>
                </li>
            </ul>
        </div>

        {% else %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mx-2">
            <a href="{% url 'users:login' %}" class="btn btn-primary">Вход</a>
            <a href="{% url 'users:register' %}" class="btn btn-primary ">Регистрация</a>
        </div>

        {% endif %}

    </div>
</header>