{% extends 'mainapp/base.html' %}
{% block title %}SparePartSolution{% endblock %}


{% block content %}

<main style="min-height: 60vh;">
    <section class="text-center container" style="margin-top: 15vh">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                {% if not user.is_authenticated %}
                <h1>Добро пожаловать!</h1>
                <p class="lead text-body-secondary">Здесь вы можете пока что бесплатно создавать свои заявки по поиску
                    запчастей, на которые откликнутся магазины, свалки, разборы.</p>
                <div class="mt-5 ">
                    <p>
                        <a href="{% url 'users:login' %}" class="btn btn-primary my-2">Вход</a>
                        <a href="{% url 'users:register' %}" class="btn btn-secondary my-2">Регистрация</a>
                    </p>
                </div>

                {% else %}

                <h1>Добро пожаловать, <br>{{user.name}}!</h1>
                <div class="mt-5">
                    <p>
                        <a href="{% url 'mainapp:request-create' %}" class="btn btn-primary my-2">Создать заявку</a>
                        <a href="{% url 'mainapp:my-requests-list' %}" class="btn btn-primary my-2">Мои заявки</a>
                    </p>
                </div>


                {% endif %}

            </div>
        </div>
    </section>
</main>

{% endblock %}