{% extends 'mainapp/base.html' %}
{% block title %}
{% if 'my_requests' in request.path %}Список моих заявок
{% else %}Список заявок
{% endif %}
{% endblock %}


{% block content %}

<main style="min-height: 60vh;">
    <div class="container">
        <h1 class="mt-5 text-center">
            {% if 'my_requests' in request.path %}Ваши заявки
            {% else %}Активные заявки
            {% endif %}
            <a href="{% url 'mainapp:request-create' %}" class="btn btn-primary">Создать</a>
            <form method="get" class="mt-5">
                <input class="text-center" type="text" name="request_search_field" placeholder="поиск" style="font-size:1.5rem;width:15rem;border-radius:1rem;">
                <button class="btn btn-primary" type="submit">Поиск</button>
            </form>
        </h1>
    </div>

    <div class="album py-5 bg-body-tertiary mt-5">

        {% for request_model in requests %}
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">

                    <a class="nav-link" href="{% url 'mainapp:request-detail' request_model.pk%}">
                        <div class="card mb-1">

                            <div class="row g-0">
                                <div class="col-md-3 col-lg-2">
                                    <img src="{% if request_model.photo %}{{request_model.photo.url}}{% else %}/static/imgs/wo-image.bmp{% endif %}"
                                         class="img-fluid rounded-start" alt="..."
                                         style="min-width:10rem; max-height:10rem;">
                                </div>
                                <div class="col-md-8 col-lg-9">

                                    <div class="card-body">

                                        <h5 class="card-title">{{request_model.car}} {{request_model.model}}</h5>
                                        <h5 class="card-title">{{request_model.year}}</h5>

                                        <p class="card-text">{{request_model.text|truncatechars:100}}</p>
                                    </div>

                                </div>
                                <div class="col-md-1 mt-2">
                                    <p class="card-text"><small
                                            class="text-body-secondary">{{request_model.city}}</small></p>
                                    <p style="font-size:0.8rem;">
                                        <small>{{request_model.created_at|date:"d.m" }} {{request_model.created_at|time:"H:i" }}</small>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-1"></div>

                {% endfor %}
            </div>
        </div>
    </div>

</main>


<!--начало отображения активных заявок-->


{% endblock %}


<!--                    href="{% url 'mainapp:request-detail' request.pk%}" {{request.car}} {{request.model}} {{request.year}}-->
<!--                    src="{% if request.photo %}{{request.photo.url}}{% else %}/static/imgs/wo-image.bmp{% endif %}"-->
<!--                        <p>{{request.text|truncatechars:200}}</p>-->